.ter{
    background-color:#b2783d;
    color: white;
    padding: 10px 10px;
    border: none;
    font-size: 20px;
    display: block;
    text-align: center;
    margin:30px auto ;
    border-radius: 20px;
}

::placeholder{
    color: white;
}
.uo{
    margin-bottom: 70px;
}
.lop{
    display: block;
    text-align: center;
    margin:60px auto ;
    font-size: 20px;
}
.tero{
    background-color:#b2783d;
    color: white;
    padding: 10px 10px;
    border: none;
    font-size: 20px;
    display:block;
    text-align: center;
    margin:30px auto ;
    border-radius: 20px;
    width: 250px;
}