.btncon{
    display: flex;
    justify-content: center;

}
.bp{
    margin: 30px;
    padding:8px 20px;
    background-color:#74512D;
    border: none;
    border-radius: 35px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    
}

.fcc{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
   
}
.fc{
    margin-top: 40px;
    border: 1px solid black;
    text-align: center;
    padding: 5px 15px;
    border-radius: 15px;
    background-color:#b2783d;
    font-size: 20px;
    box-shadow: 2px 2px 2px 2px grey;
}
@media screen and (max-width: 500px){
.btncon{
    position: fixed;
  background-color: wheat  ;
    bottom: 0;
    left: 0;
    width: 100%;
   
}

}
