body {
  margin: 0;
  padding: 10px 40px;
  background-color: #F8F4E1;
}
.txc{
  text-align: center;
}
.tp{
  color: #543310;
  margin-top: 70px;

}
.ts{
  color: #74512D;
  font-weight:500;
}
.tw{
  color: white;
  font-weight:500;

}

@media screen and (max-width: 500px){
.tp{
  font-size: 25px;
}
.ts{
  font-size: 14px;
}
}